<h1>This is <%= @user.name %> profile</h1>
<h2>contact:
	<ul>
		<li>
			<%= @user.email %>
		</li>
	</ul>
</h2>

<button>
	<%= link_to 'Check out my products', user_products_path(@user) %>
</button>

<button>
	<%= link_to 'Back To Users List', users_path %>
</button>
