<center><h1>Authored by: Mnatherr</h1>

<p style='background-color:purple'> 
	Hey guys this is <b>Matt</b><br>
	I'm 20 and I play more videogames than I should<br>
	if you need to know more about me gimme a call
	call mah numba <%= Date.today %>
</>

<% if Date.today.monday? %>
	<h2>Everybody hates monday</h2>
<% end %>

<% if Date.today.tuesday? %>
	<h1>Today is only tuesday (TnT)</h1>
	<p>that is supposed to be a crying face ...</p>
<% end %>

<h4>Also I learned how to code ...</h4>
<img src="/Magic.gif"
	 alt="Shia Laboof being awesome for once">

</center>