<h1>Login</h1>

<form action="/login_validator" method="POST">
	
	<input type="text" name="login" placeholder="your login here"> <br> 

	<input type="password" name="password" placeholder="Passwrod"> <br><br>

<button type="Submit" name="check_credentials" value="submit_login">Login</button>

</form>