html {
	font-family: Georgia,"Times New Roman",Times,serif ;
}

header {
	font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

h5 {
	font-size: 20px;
	color: #c9353a;
}

time{
	font-size: 18px;
	color: #b3b3b3;
}

article p {
	font-size: 20px;
	color: #b3b3b3;
}

ul {
	list-style: none;
}

ol {
	list-style: none;
}

.qoute {
	font-size: 50px;
	color: purple;
}

.title {
	font-size: 40px;
	font-weight: bold;
	color: #4d4d4d;
}

.sub_title {
	font-size: 32px;
	font-weight: bold;
	color: #4d4d4d;
}

.flow_left {
	float: left;
	margin-left: 100px
}
		
.flow_right {
	float: right;
	margin-right: 100px
} 

.max_width_post {
	width: 600px;
}

.max_size_pic {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}