// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	margin-left: 10%;
}

footer a {
	margin-right: 5%;
}

.show_descrip {
	width: 50%;
}
