<h1><%= @user.name %> Products</h1>

<ul>
	<% @products.each do | product | %>
		<li><%= link_to "#{product.name}", user_product_path(@user, @product)  %></li>
		<br>
	<% end%>
</ul>

<button>
	<%= link_to 'Create New Product', new_user_product_path(@user) %>
</button>

<button>
	<%= link_to 'Users Page', user_path(@user) %>
</button> 