<h1>Calculator</h1>

<h2> Add</h2>

<form action="/calculation_result" method="POST">
	
	<input type="number" name="first_number" placeholder="1st number"> and 

	<input type="number" name="second_number" placeholder="2nd number"> <br><br>

<button type="Submit" name="operation" value="addition">Add</button>

<button type="Submit" name="operation" value="subtraction">Subtract</button>

<button type="Submit" name="operation" value="multiplication">Multiply</button>

<button type="Submit" name="operation" value="division">Divide</button>

</form>